/* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
    .bootstrap-vertical-nav .collapse {
        display: block;
    }

    .bootstrap-vertical-nav {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
	#menu-header {
		font-size: .8em;
	}

	#header {
		font-size: .9em;
	}

	#list-item {
		font-size: .7em;
	}

	#map-container {
		margin-top: -125px;
	}
}

#map {
	margin-top: 20px;
	height: 80%;
}

#info-box {
	color: black;
}

#main {
	min-height: 500px;
}